{{ if (eq (env "IS_EASYVISTA_VM") "false") }}
tap "ddev/ddev"
brew "ddev"
brew "git-standup"
brew "php"
brew "composer"
brew "node"
brew "mkcert"
brew "yt-dlp"
{{end}}

brew "git"
brew "zsh"
brew "thefuck"
brew "aria2"
