#!/usr/bin/env bash
set -xeuo pipefail

echo "🔍 Checking for Homebrew/Linuxbrew installation…"

if command -v brew >/dev/null 2>&1; then
  echo "✅ Homebrew is already installed."
else
  {{ if eq .chezmoi.os "darwin" }}
  echo "🍎 Installing Homebrew …"
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  {{ else if eq .chezmoi.os "linux" }}
  echo "🐧 Installing Linuxbrew…"
  sudo whoami > /dev/null

  echo "👤 Adding a linuxbrew user…"
  if ! getent group linuxbrew >/dev/null; then
    sudo groupadd linuxbrew
  fi

  if ! id linuxbrew >/dev/null 2>&1; then
    sudo useradd -m -N -g linuxbrew -s /bin/bash linuxbrew
  fi

  # Install Linuxbrew as linuxbrew user
  sudo -u linuxbrew env NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' | sudo -u linuxbrew tee -a /home/linuxbrew/.bashrc
  echo 'source $HOME/.config/shell/homebrew.sh' >> $HOME/.bashrc

  {{ end }}
  echo "✅ Homebrew installed."
fi

{{ if eq .chezmoi.os "linux" -}}
echo "📦 Installing Homebrew packages…"

brewfile="$(mktemp)"
trap 'rm -f "$brewfile"' EXIT

cat > "$brewfile" <<'EOF'
{{ range .packages.linux.brew.formulas -}}
brew {{ . | quote }}
{{ end -}}
EOF

chmod 644 "$brewfile"

cd /home/linuxbrew
echo "Brewfile content:"
cat "$brewfile"
echo "------------"
{{- range .packages.linux.brew.trust }}
sudo -u linuxbrew /home/linuxbrew/.linuxbrew/bin/brew trust {{ . | quote }}
{{- end }}
sudo -u linuxbrew /home/linuxbrew/.linuxbrew/bin/brew bundle --file="$brewfile"

{{ end -}}

